{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title%}Login{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
{% if user.is_authenticated is not True %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark">Login</button>
                <a href="{% url 'signup' %}" class="btn btn-dark">Signup</a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}