{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags%}

{% block title %}Change password{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        {{ form|crispy }}
    </form>
</div>
{% endblock %}
