{% extends "books/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh;">
        <div class="col-auto border p-3">
            Your password successfully has been succesffully changed
        </div>
    </div>
</div>
{% endblock %}