{% extends 'base.html' %}

{% load crispy_forms_tags%}

{% block title %}Signup{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <h2>Signup</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-dark">Signup</button>
                {% comment %} <a href="{% url 'login' %}" class="btn btn-dark">Login</a> {% endcomment %}
            </form>
        </div>
    </div>
</div>

{% endblock %}