{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="shortcut icon" type="image/png"
     href="http://icons.iconarchive.com/icons/icons8/windows-8/256/Printing-Book-Stack-icon.png"/>

    <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova" rel="stylesheet">
    
    <title>{% block title %}BookTracker{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
    body {
        font-family: 'Ibarra Real Nova', serif;
        font-size: 20px;
    }
    
    {% block style %}{% endblock%}
    
    </style>
</head>

<body>
    {% include 'books/menu.html' %}

    {% comment %} {% block hero %}{% include 'books/hero.html' %}{% endblock %} {% endcomment %}
    
    {% block content %}{% endblock %}
    
    {% comment %} {% block footer %}{% include 'books/footer.html' %}{% endblock %} {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    {% block javascript %} {% endblock %}
</body>

</html>