{% extends 'base.html' %}

{% block content %}
<div class="text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <h1 class="m-4 cover-heading">booktracker</h1>
  <p class="lead">the only website you need to track your reads. </p>
  <p class="lead">sign up, make it a habit, keep it for life.</p>
</div>
{% endblock %}