{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create book{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark btn-lg" type="submit" value="Submit">
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'books/create.js' %}"></script>
{% endblock %}
