{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if last_page_read_form is None %}
        <h2><a class="btn btn-light " href="{% url 'books:start_reading' book_pk=book_pk %}">start reading this book!</a></h2>
        {% endif %}
        <table class="table table-sm table-borderless col-5">
        <tbody>
            <tr><td>title: </td><td> {{ title }}</td></tr>
            <tr><td>author: </td><td> {{ author|default_if_none:"unknown" }}</td></tr>
            <tr><td>pages total: </td><td> {{ pages_total|default_if_none:"unknown" }}</td></tr>
            <tr><td>reading status: </td><td> {{ reading_status|default:"want to read" }}</td></tr>
        </tbody>
        </table>

        <img class="img-fluid" alt="cover" src="{{ cover_src }}" data-holder-rendered="true" style="height: 225px; display: block;">

        {% if user.is_authenticated %}
        <div>
            <label>notes (private)</label>
            {% for note in note_list %}
            <div >{{ note }}</div>
            {% endfor %}

            <div>
                <div><input type="text" class="m-1" name="newnote" id="newnote" /></div>
                <button class="btn btn-dark">save</button>
            </div>
        </div>
        {% endif %}

        {{ review_list }}

        {% if user.is_authenticated %}
        <label for="review">review (public)</label>
        <div>
            <textarea type="text" name="review" value="{{ review }}" rows="4" cols="50"></textarea>
        </div>
        <button class="btn btn-dark">publish</button>
        {% endif %}
        <!-- TODO:move newnote,review to form -->
    </form>
</div>
{% endblock %}