<footer class="footer py-3">
    <div class="container">
        <span class="text-muted"><strong>booktracker</strong> by
            <a href="https://t.me/valeriykundas">Valerii Kundas</a>
        </span>
    </div>
</footer>