{% if user.is_authenticated %}
    {% if not today_done %}
        <div class="container jumbotron">
            <div class="">
                <h1 class="display-5">don't break the chain!</h1>
                <p class="lead">read today and make it {{chain_length|add:"1" }} consecutive reading
                    day{{chain_length|add:"1"|pluralize}}</p>
                <hr class="my-4">
                <a class="btn btn-light" href="{% url 'books:read' %}" role="button">i have read today!</a>
            </div>
        </div>
    {% endif %}
{% endif %}