{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 align-middle" style="margin: auto">
            <h2 class="m-5">chain length - {{ chain_length }}</h2>
            {{ calendar }}
        </div>
    </div>
</div>
{% endblock %}