{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% comment %} {% if user.is_authenticated %}
    <div class="container mb-4">
        <a class="btn btn-md btn-light" href="{% url 'books:create' %}" role="button">add new book</a>
    </div>
    {% endif %} {% endcomment %}

    <div class="container m-4">
        {% for category in categories %}
        <a class="btn btn-light" href="{% url 'books:list_mine' %}?category={{category}}">{{ category }}</a>
        {% endfor %}
    </div>

    <div class="row">
        {% for book in book_list %}
        <div class="col col-md-4">
            <div class="card mb-4">
                <a href="{% url 'books:detail' book.pk %}">
                    {% comment %} {% if book.image_url %} {% endcomment %}
                    <img class="card-img-top" alt="cover" src="{{ book.image_url }}" data-holder-rendered="true"
                        style="height: 225px; width: 100%; display: block;">
                    {% comment %} {% else %}
                    <img class="card-img-top" alt="cover" data-holder-rendered="true"
                        style="height: 225px; width: 100%; display: block;">
                    {% endif %} {% endcomment %}
                </a>

                <div class="card-body text-center">
                    <a href={% url 'books:detail' book.pk %} class="text-dark">
                        <h4 class="card-text">{{book.title}}</h4>
                    </a>
                    <h6 class="card-text text-secondary">{{ book.author|default_if_none:"" }}</h6>
                    
                    {% if user.is_authenticated %}
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ book.progress|default:0 }}%">
                            <span class="text-dark font-weight-bold">{{ book.progress|default:0 }}%</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        No books yet in the database.
        {% endfor %}
    </div>
</div>
{% endblock %}