<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{% url 'books:home' %}">booktracker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBar" aria-controls="NavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="NavBar">
        <div class="navbar-nav mr-auto">
            {% if user.is_authenticated%}
            <a class="nav-item nav-link pl-3" href="{% url 'books:read' %}">i have read today</a>
            {% endif %}
            {% comment %} <a class="nav-item nav-link" href="{% url 'books:list' %}">books</a> {% endcomment %}

            {% if user.is_authenticated%}
            <a class="nav-item nav-link pl-3" href="{% url 'books:list_mine' %}">books</a>
            <a class="nav-item nav-link pl-3" href="{% url 'books:stats' %}">stats</a>
            <a class="nav-item nav-link pl-3" href="{% url 'books:create' %}">add book</a>
            {% endif %}
        </div>

        <div class="navbar-nav justify-content-end">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link pl-3" href="{% url 'profile' %}">{{user.username}}</a>
            <a class="nav-item nav-link pl-3" href="{% url 'logout' %}">logout</a>
            {% else %}
            <a class="nav-item nav-link pl-3" href="{% url 'login' %}">login</a>
            <a class="nav-item nav-link pl-3" href="{% url 'signup' %}">signup</a>
            {% endif %}
        </div>
    </div>
</nav>