{% extends 'base.html' %}

{% load static %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <a href="{% url 'password_change' %}">Change password</a>
        </div>
    </div>
</div>
{% endblock %}