{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form action=" {% url 'books:read' %}" method="post" book-progress-url="{% url 'books:get_last_page_read_by_book_name' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'books/read.js' %}"></script>
{% endblock %}