{% extends 'base.html' %}

{% block content %}

<body class="vsc-initialized">
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                {% comment %} {% if user.is_authenticated %}
                <a class="btn btn-warning btn-lg" href="{% url 'books:create' %}" role="button">Add new book</a>
                {% endif %} {% endcomment %}

                <div class="row">
                    {% if book_list %}
                    {% for book in book_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{% url 'books:detail' book.pk %}">
                                <img class="card-img-top" alt="cover" src="/media/{{book.image}}"
                                    data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                            </a>

                            <div class="card-body">
                                <a href={% url 'books:detail' book.pk %} class="text-dark">
                                    <h4 class="card-text">{{book.title}}</h4>
                                </a>
                                <h6 class="card-text text-secondary">{{book.author}}</h6>

                                {% if user.is_authenticated and book.progress %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        style="width: {{book.progress}}%">
                                        {{ book.progress }}%</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-md-4">
                        Your to read list is empty.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}